header {
  text-align: center;
  margin: 0 auto;
  padding: rem-px(20px);
}

.content {
  width: 100%;
}

.row {
  width: 100%;
  max-width: rem-px(1024px);
  padding: rem-px(20px);
  margin: 0 auto;
}