
    <footer>
      <div class="row">
        <h2 class="large-heading">Your Hosts</h2> 
        
        <div class="host-box">
          <div class="host-photo-box">
            <a href="http://www.twitter.com/monteiro" target="_blank">
              <img src="http://muledesign.com/mistakes/mike.gif" alt="Mike Monteiro" class="host-photo">
            </a>
          </div>
          <h3 class="host-heading"><a href="http://www.twitter.com/monteiro" target="_blank">Mike Monteiro</a></h3>
          <p class="host-bio">Mike is the co-founder of <a href="http://www.muledesign.com/" target="_blank">Mule Design</a>, and editor of <a href="http://www.deardesignstudent.com" target="_blank">Dear Design Student</a>. He&rsquo;s from like Brazil or&nbsp;somewhere?</p>
        </div>

        <div class="host-box">
          <div class="host-photo-box">
            <a href="http://www.twitter.com/liamdanger" target="_blank">
              <img src="http://muledesign.com/mistakes/liam.jpg" alt="Liam Campbell" class="host-photo">
            </a>
          </div>
          <h3 class="host-heading"><a href="http://www.twitter.com/liamdanger" target="_blank">Liam Campbell</a></h3>
          <p class="host-bio">Liam is a very special boy. He&rsquo;s goth af, the Lead Developer at <a href="http://www.muledesign.com/" target="_blank">Mule Design</a>, and a writer for <a href="http://www.deardesignstudent.com" target="_blank">Dear Design&nbsp;Student</a>.</p>
        </div>
        <div class="host-box">
          <div class="host-photo-box">
            <a href="http://www.twitter.com/steph_monette" target="_blank">
              <img src="http://muledesign.com/mistakes/steph.jpg" alt="Steph Monette" class="host-photo">
            </a>
          </div>
          <h3 class="host-heading"><a href="http://www.twitter.com/steph_monette" target="_blank">Steph Monette</a></h3>
          <p class="host-bio">Steph&rsquo;s a Developer at <a href="http://www.muledesign.com/" target="_blank">Mule Design</a>, garden gnome connoisseur, and she wants to delete all of your code.</p>
        </div>

        <div class="host-box">
          <div class="host-photo-box">
            <a href="https://twitter.com/SevenM0rris" target="_blank">
              <img src="http://muledesign.com/mistakes/seven.jpg" alt="Seven Morris" class="host-photo">
            </a>
          </div>
          <h3 class="host-heading"><a href="https://twitter.com/SevenM0rris" target="_blank">Seven Morris</a></h3>
          <p class="host-bio">Seven is our amazing sound engineer. He&rsquo;s <a href="mailto:sevenmorris.work@gmail.com">available to work his magic</a> on your podcast!</p>
        </div>

        <p class="footer-subtitle">&#9829; Crafted with love &#9829;
          <br/>
          <a href="https://soundcloud.com/lets-make-mistakes"  target="_blank">SoundCloud</a>
          <span class="footer-subtitle-divider"></span> 
          <a href="https://itunes.apple.com/us/podcast/lets-make-mistakes/id432550963" target="_blank">iTunes</a>
          <span class="footer-subtitle-divider"></span> 
          <a href="http://feeds.soundcloud.com/users/soundcloud:users:57850026/sounds.rss" target="_blank">RSS</a>
        </p>

      </div>
    </footer>


    <script src="/../js/fitter-happier-text.js"></script>
    <script>
      // Initialize Happier Fit Text
      var nodes = document.querySelectorAll('[data-fitter-happier-text]');
      fitterHappierText(nodes, { baseline: 15, paddingY: -1});
    </script>
  </body>
</html>