<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Let’s Make Mistakes</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/../styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Typekit -->
    <script src="//use.typekit.net/oog7djc.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='shortcut icon' href='/../img/favicon.ico' type='image/x-icon'/ >

<!-- 

_         _   _       __  __       _          __  __ _     _        _             
| |    ___| |_( )___  |  \/  | __ _| | _____  |  \/  (_)___| |_ __ _| | _____  ___ 
| |   / _ \ __|// __| | |\/| |/ _` | |/ / _ \ | |\/| | / __| __/ _` | |/ / _ \/ __|
| |__|  __/ |_  \__ \ | |  | | (_| |   <  __/ | |  | | \__ \ || (_| |   <  __/\__ \
|_____\___|\__| |___/ |_|  |_|\__,_|_|\_\___| |_|  |_|_|___/\__\__,_|_|\_\___||___/

A Podcast About Design                                                                                 

-->

  </head>
