<% include ../partials/_header.ejs%>


<body>

<h1 class="small-header">
  <div data-fitter-happier-text class="decorative-header-script decorative-header-lets">Let&rsquo;s</div>
  <div data-fitter-happier-text class="decorative-header-sans decorative-header-make">Make</div>
  <div data-fitter-happier-text class="decorative-header-script decorative-header-mistakes">Mistakes</div>
</h1>

<div class="content">
  <div class="row">
    <div class="small-heading see-all">Whoa there! Page not found. <br><a href="/">Go home, you are drunk.</a></div>
  </div> <!-- end row -->
</div> <!-- end content -->
<% include ../partials/_footer.ejs%>

