/*

Rem/Px Function
---
This is a fun one. If we support rems, calculate rems according to a pixel
value. If not, just spit out the pixel value. This means we can detect rem
support and spit out the stylesheet accordingly, all while writing only one
codebase.

*/
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 0; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

li {
  display: block; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

address, article, aside, audio, blockquote, canvas, dd, div, dl, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, noscript, ol, output, p, pre, section, table, tfoot, ul, video {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal; }

a {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

header {
  text-align: center;
  margin: 0 auto;
  padding: 1.25rem; }

.content {
  width: 100%; }

.row {
  width: 100%;
  max-width: 64rem;
  padding: 1.25rem;
  margin: 0 auto; }

.decorative-header-script {
  font-family: "memoriam-headline-pro",sans-serif;
  font-style: normal;
  font-weight: 400; }

body, .decorative-header-sans {
  font-family: "proxima-nova",sans-serif; }

body {
  font-size: 1rem;
  line-height: 1.5rem; }

.site-title {
  opacity: 0; }

.decorative-header {
  font-size: 15.625rem;
  line-height: 18.75rem;
  position: relative; }

.decorative-header-script {
  font-size: 15.625rem;
  line-height: 31.25rem;
  color: #F95F9A; }

.decorative-header-sans {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  position: absolute;
  width: 100%;
  top: 20.3125rem;
  z-index: -1; }

footer {
  background: rgba(249, 95, 154, 0.7); }

.hosts-header {
  text-align: center; }

.host-box {
  width: 32%;
  display: inline-block; }

body {
  background-color: #80BCA3;
  background-image: url("../img/bunny.gif");
  background-size: cover;
  background-attachment: fixed; }

.episode-list {
  width: 75%;
  margin: 0 auto; }

.episode {
  background: rgba(255, 255, 255, 0.9);
  padding: 1.25rem 2.5rem;
  margin-bottom: 0.3125rem;
  border-radius: 0.1875rem;
  text-align: center; }

.large-heading {
  font-size: 3rem;
  margin-bottom: 1.25rem;
  text-align: center; }

.small-heading {
  font-size: 1.5rem;
  margin-bottom: 0.625rem;
  text-align: center; }
